@use "./variables" as *;



.first-section {
    width: 100%;
    font-family: $font-primary;
    background-color: #24201F;
    padding: 0;

    .jumbo {
        width: 100%;
        background-image: url('/public/images/jumbotron.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;


        .square {
            font-weight: 600;
            background-color: $color-primary;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 200px;
            position: absolute;
            bottom: -25px;
            left: 10;
            padding: 1rem;
        }
    }


}